{
    "api1": {
        "endpointType": "GraphQL",
        "endpoint": "https://www.foo.bar/baz",
        "region": "us-east-1",
        "authorizationType": "API_KEY",
        "apiKey": "SpecialApiKey33"
    },
    "api2": {
        "endpointType": "REST",
        "endpoint": "https://www.foo.bar/baz",
        "region": "us-east-1",
        "authorizationType": "API_KEY",
        "apiKey": "SpecialApiKey33"
    }
}
