version: 2.1

commands:
  generate_gradle_wrapper:
    description: Download and install gradle wrapper
    parameters:
      gradle_version:
        description: "The version of Gradle to install"
        default: "6.3"
        type: string

    steps:
      - run:
          name: Download gradle
          command: |
            cd ~
            wget https://services.gradle.org/distributions/gradle-<< parameters.gradle_version >>-bin.zip
            unzip gradle-<< parameters.gradle_version >>-bin.zip
      - run:
          name: Generate gradle wrapper
          command: |
            cd ~/amplify-android-home
            yes | sdkmanager --licenses && yes | sdkmanager --update
            ~/gradle-<< parameters.gradle_version >>/bin/gradle wrapper
  early_return_for_forked_pull_requests:
    description: >-
      If this build is from a fork, stop executing the current job and return success.
      This is useful to avoid steps that will fail due to missing credentials.
    steps:
      - run:
          name: Early return if this build is from a forked PR
          command: |
            if [ -n "$CIRCLE_PR_NUMBER" ]; then
                echo "Nothing to do for forked PRs, so marking this step successful"
                circleci step halt
            elif [ -z "${AWS_ACCESS_KEY_ID_TEST}" -o -z "${AWS_SECRET_ACCESS_KEY_TEST}" ]; then
                echo "No AWS credentials in test environment. Integration tests won't run." 1>&2
                exit 1
            fi
  configure_aws:
    description: >-
      install aws cli and configure android aws release profile
    steps:
      - run:
          name: install aws cli
          command: |
            sudo pip install awscli
      - run:
          name: configure aws profile
          command: |
            aws configure --profile amplify_sdk_test set region us-west-2
            echo -e "[amplify_sdk_test]\naws_access_key_id=${AWS_ACCESS_KEY_ID_TEST}\naws_secret_access_key=${AWS_SECRET_ACCESS_KEY_TEST}\n" >> ~/.aws/credentials
  setup_emulator:
    description: >-
      setup emulator
    steps:
      - run:
          name: Setup emulator
          command: |
            echo y | sdkmanager "system-images;android-24;default;armeabi-v7a"
            echo "no" | avdmanager create avd -n test -k "system-images;android-24;default;armeabi-v7a"
      - run:
          name: Launch emulator
          command: |
            export LD_LIBRARY_PATH=${ANDROID_HOME}/emulator/lib64:${ANDROID_HOME}/emulator/lib64/qt/lib
            emulator64-arm -avd test -no-boot-anim -no-window -accel auto -verbose
          background: true
      - run:
          name: Launch logcat
          command: 
            adb logcat > logcat.log
          background: true
      - run:
          name: Wait emulator
          command: |
            echo "wait for emulator to have booted"
            circle-android wait-for-boot
            python3 .circleci/unlock_emulator_screen.py
jobs:
  build:
    working_directory: ~/amplify-android-home
    docker:
      - image: circleci/android:api-29
    resource_class: xlarge
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - generate_gradle_wrapper
      - run:
          name: Build the project
          command: bash gradlew build
      - run:
          name: Publish the project to local maven
          command: bash gradlew publishToMavenLocal
      - store_test_results:
          path: test-results

  integrationtest:
    working_directory: ~/amplify-android-home
    docker:
      - image: circleci/android@sha256:5cdc8626cc6f13efe5ed982cdcdb432b0472f8740fed8743a6461e025ad6cdfc
    resource_class: xlarge
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - generate_gradle_wrapper
      - early_return_for_forked_pull_requests
      - configure_aws
      - setup_emulator
      - run:
          name: Copy configuration files
          command: |
            .circleci/copy-configs
      - run:
          name: Run integration test
          command: ./gradlew cAT --no-daemon
      - store_artifacts:
          path: logcat.log
workflows:
  version: 3
  build_test:
    jobs:
      - build
      - integrationtest

