[versions]
agp = "8.11.1"
androidx-activity = "1.2.0"
androidx-annotation = "1.9.1"
androidx-annotation-experimental = "1.4.1"
androidx-appcompat = "1.2.0"
androidx-browser = "1.9.0"
androidx-concurrent = "1.1.0"
androidx-core = "1.5.0"
androidx-credentials = "1.3.0"
androidx-fragment = "1.3.1"
androidx-legacy = "1.0.0"
androidx-lifecycle = "2.4.1"
androidx-security = "1.0.0"
androidx-sqlite = "2.6.0"
androidx-test-core = "1.3.0"
androidx-test-junit = "1.1.2"
androidx-test-orchestrator = "1.4.2"
androidx-test-runner = "1.3.0"
androidx-workmanager = "2.9.1"
apollo = "4.3.1"
aws-kotlin = "1.5.15" # ensure proper aws-smithy version also set
aws-sdk = "2.62.2"
aws-smithy = "1.5.4" # ensure proper aws-kotlin version also set
binary-compatibility-validator = "0.18.1"
coroutines = "1.7.3"
desugar = "1.2.0"
espresso = "3.3.0"
firebase-bom = "33.16.0"
fcm = "23.1.0"
gson = "2.8.9"
jetbrains-annotations = "26.0.2"
json = "20210307"
jsonassert = "1.5.0"
junit = "4.13.2"
junit-ktx = "1.2.0"
kotest = "5.9.0"
kotlin = "2.2.0"
kotlin-serialization = "1.6.0"
kover = "0.9.1"
ktlint = "12.2.0"
licensee = "1.7.0"
litert = "1.4.0"
maplibre = "11.12.1"
maplibre-annotations = "3.0.2"
material = "1.8.0"
mockito = "3.9.0"
mockito-inline = "3.11.2"
mockk = "1.14.5"
mockwebserver = "5.0.0-alpha.11"
navigation = "2.3.4"
oauth2 = "0.26.0"
okhttp = "5.1.0"
robolectric = "4.7"
rxjava = "3.0.6"
slf4j = "2.0.6"
sqlcipher = "4.6.1"
uuid = "4.0.1"
totp = "1.0.1"
turbine = "1.1.0"

[libraries]
android-desugartools = { module = "com.android.tools:desugar_jdk_libs", version.ref = "desugar" }
androidx-activity = { module = "androidx.activity:activity", version.ref = "androidx-activity" }
androidx-annotation = { module = "androidx.annotation:annotation", version.ref = "androidx-annotation" }
androidx-annotation-experimental = { module = "androidx.annotation:annotation-experimental", version.ref = "androidx-annotation-experimental" }
androidx-appcompat = { module = "androidx.appcompat:appcompat", version.ref="androidx-appcompat" }
androidx-browser = { module = "androidx.browser:browser", version.ref = "androidx-browser" }
androidx-core = { module = "androidx.core:core", version.ref = "androidx-core" }
androidx-core-ktx = { module = "androidx.core:core-ktx", version.ref = "androidx-core" }
androidx-credentials = { module = "androidx.credentials:credentials", version.ref="androidx-credentials" }
androidx-credentials-play-services = { module = "androidx.credentials:credentials-play-services-auth", version.ref="androidx-credentials" }
androidx-lifecycle-runtime = { module = "androidx.lifecycle:lifecycle-runtime", version.ref = "androidx-lifecycle" }
androidx-nav-fragment = { module = "androidx.navigation:navigation-fragment", version.ref = "navigation" }
androidx-nav-ui = { module = "androidx.navigation:navigation-ui", version.ref = "navigation" }
androidx-security = { module = "androidx.security:security-crypto", version.ref = "androidx-security" }
androidx-sqlite = { module = "androidx.sqlite:sqlite", version.ref = "androidx-sqlite" }
androidx-sqlite-bundled = { module = "androidx.sqlite:sqlite-bundled", version.ref = "androidx-sqlite" }
androidx-sqlite-bundled-jvm = { module = "androidx.sqlite:sqlite-bundled-jvm", version.ref = "androidx-sqlite" }
androidx-v4support = { module = "androidx.legacy:legacy-support-v4", version.ref = "androidx-legacy" }
androidx-workmanager = { module = "androidx.work:work-runtime", version.ref = "androidx-workmanager" }
apollo-runtime = { module = "com.apollographql.apollo:apollo-runtime", version.ref = "apollo" }
aws-cloudwatchlogs = { module = "aws.sdk.kotlin:cloudwatchlogs", version.ref = "aws-kotlin" }
aws-cognitoidentity = { module = "aws.sdk.kotlin:cognitoidentity", version.ref = "aws-kotlin" }
aws-cognitoidentityprovider = { module = "aws.sdk.kotlin:cognitoidentityprovider", version.ref= "aws-kotlin" }
aws-comprehend = { module = "aws.sdk.kotlin:comprehend", version.ref = "aws-kotlin" }
aws-credentials = { module = "aws.smithy.kotlin:aws-credentials", version.ref = "aws-smithy" }
aws-http = { module = "aws.sdk.kotlin:aws-http", version.ref = "aws-kotlin" }
aws-kinesis = { module = "aws.sdk.kotlin:kinesis", version.ref = "aws-kotlin" }
aws-location = { module = "aws.sdk.kotlin:location", version.ref = "aws-kotlin" }
aws-pinpoint = { module = "aws.sdk.kotlin:pinpoint", version.ref = "aws-kotlin" }
aws-polly = { module = "aws.sdk.kotlin:polly", version.ref = "aws-kotlin" }
aws-rekognition = { module = "aws.sdk.kotlin:rekognition", version.ref = "aws-kotlin" }
aws-s3 = { module = "aws.sdk.kotlin:s3", version.ref = "aws-kotlin" }
aws-signing = { module = "aws.smithy.kotlin:aws-signing-default", version.ref = "aws-smithy" }
aws-smithy-http = { module = "aws.smithy.kotlin:http-client-jvm", version.ref = "aws-smithy" }
aws-smithy-okhttp4 = { module = "aws.smithy.kotlin:http-client-engine-okhttp4", version.ref = "aws-smithy" }
aws-textract = { module = "aws.sdk.kotlin:textract", version.ref = "aws-kotlin" }
aws-translate = { module = "aws.sdk.kotlin:translate", version.ref = "aws-kotlin" }
firebase-bom = { module = "com.google.firebase:firebase-bom", version.ref = "firebase-bom" }
firebase-messaging = { module = "com.google.firebase:firebase-messaging" }
google-material = { module = "com.google.android.material:material", version.ref = "material" }
gson = { module = "com.google.code.gson:gson", version.ref = "gson" }
kotlin-coroutines = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "coroutines" }
kotlin-coroutines-android = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-android", version.ref = "coroutines" }
kotlin-coroutines-rx3 = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-rx3", version.ref = "coroutines" }
kotlin-futures = { module = "androidx.concurrent:concurrent-futures-ktx", version.ref = "androidx-concurrent" }
kotlin-serializationJson = { module = "org.jetbrains.kotlinx:kotlinx-serialization-json", version.ref = "kotlin-serialization" }
kotlin-stdlib = { module = "org.jetbrains.kotlin:kotlin-stdlib", version.ref="kotlin" }
litert = { module = "com.google.ai.edge.litert:litert", version.ref = "litert" }
maplibre-annotations = { module = "org.maplibre.gl:android-plugin-annotation-v9", version.ref = "maplibre-annotations" }
maplibre-sdk = { module = "org.maplibre.gl:android-sdk", version.ref = "maplibre" }
oauth2 = { module = "com.google.auth:google-auth-library-oauth2-http", version.ref = "oauth2" }
okhttp = { module = "com.squareup.okhttp3:okhttp", version.ref = "okhttp" }
rxjava = { module = "io.reactivex.rxjava3:rxjava", version.ref = "rxjava" }
slf4j = { module = "org.slf4j:slf4j-api", version.ref = "slf4j"}
sqlcipher= { module = "net.zetetic:sqlcipher-android", version.ref = "sqlcipher" }
uuidgen = { module = "com.fasterxml.uuid:java-uuid-generator", version.ref="uuid" }

# Testing libraries
test-androidx-core = { module = "androidx.test:core", version.ref="androidx-test-core" }
test-androidx-core-ktx = { module = "androidx.test:core-ktx", version.ref="androidx-test-core" }
test-androidx-espresso = { module = "androidx.test.espresso:espresso-core", version.ref="espresso" }
test-androidx-fragment = { module = "androidx.fragment:fragment-testing", version.ref="androidx-fragment" }
test-androidx-junit = { module = "androidx.test.ext:junit", version.ref="androidx-test-junit" }
test-androidx-junit-ktx = { module = "androidx.test.ext:junit-ktx", version.ref = "junit-ktx" }
test-androidx-navigation = { module = "androidx.navigation:navigation-testing", version.ref = "navigation" }
test-androidx-orchestrator = { module = "androidx.test:orchestrator", version.ref="androidx-test-orchestrator" }
test-androidx-runner = { module = "androidx.test:runner", version.ref="androidx-test-runner" }
test-androidx-workmanager = { module = "androidx.work:work-testing", version.ref="androidx-workmanager" }
test-jetbrains-annotations = { module = "org.jetbrains:annotations", version.ref = "jetbrains-annotations" }
test-aws-sdk-core = { module = "com.amazonaws:aws-android-sdk-core", version.ref="aws-sdk" }
test-json = { module = "org.json:json", version.ref = "json" }
test-jsonassert = { module = "org.skyscreamer:jsonassert", version.ref="jsonassert" }
test-junit = { module = "junit:junit", version.ref = "junit" }
test-kotest-assertions = { module = "io.kotest:kotest-assertions-core", version.ref = "kotest" }
test-kotest-assertions-json = { module = "io.kotest:kotest-assertions-json", version.ref = "kotest" }
test-kotlin-coroutines = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-test", version.ref="coroutines" }
test-kotlin-junit = { module = "org.jetbrains.kotlin:kotlin-test-junit", version.ref="kotlin" }
test-kotlin-kotlinTest = { module = "org.jetbrains.kotlin:kotlin-test", version.ref="kotlin" }
test-kotlin-reflection = { module = "org.jetbrains.kotlin:kotlin-reflect", version.ref="kotlin" }
test-mockito-core = { module = "org.mockito:mockito-core", version.ref = "mockito" }
test-mockito-inline = { module = "org.mockito:mockito-inline", version.ref = "mockito-inline" }
test-mockk = { module = "io.mockk:mockk", version.ref = "mockk" }
test-mockk-android = { module = "io.mockk:mockk-android", version.ref = "mockk" }
test-mockwebserver = { module = "com.squareup.okhttp3:mockwebserver", version.ref = "mockwebserver" }
test-robolectric = { module = "org.robolectric:robolectric", version.ref="robolectric" }
test-totp = { module = "dev.robinohs:totp-kt", version.ref="totp" }
test-turbine = { module = "app.cash.turbine:turbine", version.ref = "turbine"}

# Dependencies for convention plugins
plugin-android-gradle = { module = "com.android.tools.build:gradle", version.ref = "agp" }
plugin-binary-compatibility = { module = "org.jetbrains.kotlinx:binary-compatibility-validator", version.ref = "binary-compatibility-validator" }
plugin-kotlin-android = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
plugin-kover = { module = "org.jetbrains.kotlinx:kover-gradle-plugin", version.ref = "kover" }
plugin-ktlint = { module = "org.jlleitschuh.gradle:ktlint-gradle", version.ref = "ktlint" }
plugin-licensee = { module = "app.cash.licensee:app.cash.licensee.gradle.plugin", version.ref = "licensee" }

[plugins]
android-library = { id = "com.android.library", version.ref = "agp" }
apollo = { id = "com.apollographql.apollo", version.ref = "apollo" }
binary-compatibility-validator = { id = "org.jetbrains.kotlinx.binary-compatibility-validator", version.ref = "binary-compatibility-validator" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
kotlin-parcelize = { id = "org.jetbrains.kotlin.plugin.parcelize", version.ref = "kotlin" }
kotlin-serialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "kotlin" }
kover = { id = "org.jetbrains.kotlinx.kover", version.ref = "kover" }
ktlint = { id = "org.jlleitschuh.gradle.ktlint", version.ref = "ktlint" }
licensee = { id = "app.cash.licensee", version.ref = "licensee" }

# Internal convention plugins
amplify-api = { id = "amplify.api" }
amplify-kotlin = { id = "amplify.kotlin" }
amplify-kover = { id = "amplify.kover" }
amplify-ktlint = { id = "amplify.ktlint" }
amplify-android-library = { id = "amplify.android.library" }
amplify-licenses = { id = "amplify.licenses" }
amplify-publishing = { id = "amplify.publishing" }
